C#.csproj
C#.sln
bin/Debug/net8.0/C#.dll
bin/Debug/net8.0/C#.deps.json
obj/Debug/net8.0/C#.AssemblyInfo.cs
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/project.nuget.cache
obj/project.assets.json
obj/C#.csproj.nuget.g.targets
obj/C#.csproj.nuget.g.props
obj/C#.csproj.nuget.dgspec.json
bin/Debug/net8.0/C#.runtimeconfig.json
bin/Debug/net8.0/C#.pdb
bin/Debug/net8.0/C#.exe
Program.cs
obj/Debug/net8.0/C#.AssemblyInfoInputs.cache
obj/Debug/net8.0/C#.assets.cache
obj/Debug/net8.0/C#.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/C#.csproj.FileListAbsolute.txt
obj/Debug/net8.0/C#.dll
obj/Debug/net8.0/C#.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/C#.genruntimeconfig.cache
obj/Debug/net8.0/C#.GlobalUsings.g.cs
obj/Debug/net8.0/C#.pdb
obj/Debug/net8.0/ref/C#.dll
obj/Debug/net8.0/refint/C#.dll
